.gradle
local.properties
.idea
build/
.DS_Store
*.iml
*.apk
*.aar
*.zip
google-services.json
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles
/build
/captures
.externalNativeBuild
.cxx
